* {
    box-sizing: border-box;
}
html, body { height: 100%;}
a { text-decoration: none;}
a:hover { text-decoration: underline;}
body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}
/*span {
    display: inline-block;  change the display type
    margin: 100px 0;        apply the needed vertical margins 
}*/

#header {
    float: left;
    width: 100%;
    flex: 0 0 auto;
    padding: 2px;
    font-size: medium;
}
#head-nav {
    float: right;
    width: 75%;
    text-align: right;
    padding: 15px;
}
#main {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    align-content: center;
    flex: 6 0 auto;
    padding: 15px;
}
#footer {
    float: left;
    width: 100%;
    flex: 0 0 auto;
    padding: 2px;
    font-size: small;
}
#foot-loc {
    width: 100%;
    float: left;
    padding: 20px;
}
#foot-nav-1 {
    width: 64%;
    float: left;
    text-align: left;
    padding: 20px;
}
#foot-nav-1 > span {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}
#foot-nav-2 {
    width: 36%;
    float: left;
    text-align: right;
    padding: 20px;
}
#foot-nav-2 > span {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.goog-img {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(228, 25, 25);
}
.font-smaller {
    font-size: smaller;
}