* {
    box-sizing: border-box;
}

/* STANDARD HTML ELEMENTS - STANDARD HTML ELEMENTS - STANDARD HTML ELEMENTS */

html, body { height: 100%;}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-shadow: 0 0 11px rgb(39, 39, 39); 
}
a:visited {
    color: blue;
}
body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

/* IDs IDs IDs IDs IDs IDs IDs IDs IDs IDs IDs IDs IDs IDs IDs IDs IDs IDs */

#header {
    float: left;
    width: 100%;
    flex: 0 0 auto;
    padding: 2px;
    font-size: medium;
}
#head-nav {
    float: right;
    width: 75%;
    text-align: right;
    padding: 15px;
    align-self: center;
}
#head-nav > span {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}
#main {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    align-content: center;
    flex: 6 0 auto;
    padding: 15px;
}
#footer {
    float: left;
    width: 100%;
    flex: 0 0 auto;
    padding: 2px;
    font-size: small;
}
#foot-loc {
    width: 100%;
    float: left;
    padding: 20px;
    background: lightgray;
    border-bottom: 2px solid darkgray;
}
#foot-nav-1 {
    width: 64%;
    float: left;
    text-align: left;
    padding: 20px;
    background: lightgray;
}
#foot-nav-1 > span {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}
#foot-nav-2 {
    width: 36%;
    float: left;
    text-align: right;
    padding: 20px;
    background: lightgray;
}
#foot-nav-2 > span {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}
#login-button {
    border-radius: 50%;
    height: 3em;
    width: 3em;
    align-self: center;
}
#login-button img {
    height: 36px;
    width: 36px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
#apps-button {
    border-radius: 50%;
    height: 3em;
    width: 3em;
    align-self: center;
}
#apps-button img {
    height: 36px;
    width: 36px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

/* CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES */

.goog-img {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(228, 25, 25);
}
.font-smaller {
    font-size: smaller;
}
.google-it {
    min-width: 33%;
    max-width: 66%;
    border-radius: 15px;
    text-shadow: rgb(39, 39, 39);
}